target
dist
#*#
.#*
*.log
*.iml
*.ipr
*.iws
*.swp
.DS_Store

# sbt specific
project/boot
project/project
project/target
project/plugins/project/
lib_managed
src_managed
sbt-launch.jar
.classpath.txt

# Scala-IDE specific
.scala_dependencies
